<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../style.css" rel="stylesheet" />
    <script src="../index.js" defer="defer"></script>
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main gal-main" data-name="birds-gallery">
        <%- include('header.ejs') %>
        <!-- BIRDS GALLERY -->
        <section class="section gal-portrait" id="birds-gallery" hidden>
          <div class="gallery portrait-gallery">
            <%- include ('portrait-animation-ctrl.ejs') %>

            <div
              class="slider-box portrait-slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Birds Gallery"
              hidden
            >
              <div class="img-display-container">
                <button type="button" class="back-arrow" data-back-arrow>
                  <img
                    data-icon-back
                    class="arrow"
                    src="../assets/imgs/icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                    alt="Back Arrow"
                  />
                </button>

                <div class="photo-box portrait-photo-box">
                  <!-- RED WINGED BLACKBIRD -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 300px) and (max-width: 499px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.06.03_red-wing-vertical-250p.jpg
                      "
                    />

                    <source
                      media="(min-width: 500px) and (max-width: 750px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.06.03_red-wing-vertical-420p.jpg
                      "
                    />

                    <source
                      media="(min-width: 751px) and (max-width: 1020px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.06.03_red-wing-vertical-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.06.03_red-wing-vertical-780p.jpg"
                      alt="Slide 1 of 7: A red winged blackbird perched on a vertical reed by the water, about three-quarters up in the center of the frame, facing right. The light blue color of the water provides a backdrop to the bird, and green vegetation forms a vignette around the edges of the frame."
                      id="slide1"
                    />
                  </picture>

                  <!-- CARDINAL -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 300px) and (max-width: 499px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.01.19_cardinal-vertical-250p.jpg
                      "
                    />

                    <source
                      media="(min-width: 500px) and (max-width: 750px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.01.19_cardinal-vertical-420p.jpg
                      "
                    />

                    <source
                      media="(min-width: 751px) and (max-width: 1020px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.01.19_cardinal-vertical-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.01.19_cardinal-vertical-780p.jpg"
                      alt="Slide 2 of 7: A bright red male cardinal perched on top of a rhododendron branch, looking with a confused expression at the viewer."
                      id="slide2"
                    />
                  </picture>

                  <!-- FEMALE HOUSE FINCH PERCH -->

                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 300px) and (max-width: 499px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.07.02_house-finch-perch-vertical-250p.jpg
                      "
                    />

                    <source
                      media="(min-width: 500px) and (max-width: 750px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.07.02_house-finch-perch-vertical-420p.jpg
                      "
                    />

                    <source
                      media="(min-width: 751px) and (max-width: 1020px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.07.02_house-finch-perch-vertical-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.07.02_house-finch-perch-vertical-780p.jpg"
                      alt="Slide 3 of 7: A wooden perch stands vertically near the center of the frame with a female house finch perched at the top facing toward the left of the frame. The bird is lit with the golden glow of sunset against a dark green background."
                      id="slide3"
                    />
                  </picture>

                  <!-- FEEDER SQUABBLES -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 300px) and (max-width: 499px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.30_squabble-vertical-250p.jpg
                      "
                    />

                    <source
                      media="(min-width: 500px) and (max-width: 750px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.30_squabble-vertical-420p.jpg
                      "
                    />

                    <source
                      media="(min-width: 751px) and (max-width: 1020px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.30_squabble-vertical-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.05.30_squabble-vertical-780p.jpg"
                      alt="Slide 4 of 7: A green bird feeder on top of a black pole with a cone-shaped squirrel baffle beneath the feeder is in the center of the frame. On it are two birds squabbling over who gets to sit at the feeder. A cardinal is perched on the feeder, thrusting its head toward the right with an open beak in the direction of a house finch that is trying to land on the feeder. The finch is clinging onto the right side of the feeder and has its wings spread out behind it as it comes in for a landing."
                      id="slide4"
                    />
                  </picture>

                  <!-- SPARROW FLYING -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 300px) and (max-width: 499px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.29_sparrow-flying-vertical-250p.jpg
                      "
                    />

                    <source
                      media="(min-width: 500px) and (max-width: 750px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.29_sparrow-flying-vertical-420p.jpg
                      "
                    />

                    <source
                      media="(min-width: 751px) and (max-width: 1020px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.29_sparrow-flying-vertical-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.05.29_sparrow-flying-vertical-780p.jpg"
                      alt="Slide 5 of 7: The frame is mostly sparse with the exception of a sparrow in the center of the frame flying upwards. Its body is facing toward the viewer with its wings pointed downward and feet tucked into its belly, and its head facing slightly upward toward the left."
                      id="slide5"
                    />
                  </picture>

                  <!-- MALE HOUSE FINCH CHERRY -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 300px) and (max-width: 499px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-vertical-250p.jpg
                      "
                    />

                    <source
                      media="(min-width: 500px) and (max-width: 750px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-vertical-420p.jpg
                      "
                    />

                    <source
                      media="(min-width: 751px) and (max-width: 1020px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-vertical-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-vertical-780p.jpg"
                      alt="Slide 6 of 7: A male house finch looking at the viewer from its perch on the branch of a cherry tree with sparse spring leaves just beginning to emerge. The sky is overcast and mostly white behind the bird."
                      id="slide6"
                    />
                  </picture>

                  <!-- SPARROW ON A BRANCH -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 300px) and (max-width: 499px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.08.11_sparrow-branch-vertical-250p.jpg
                      "
                    />

                    <source
                      media="(min-width: 500px) and (max-width: 750px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.08.11_sparrow-branch-vertical-420p.jpg
                      "
                    />

                    <source
                      media="(min-width: 751px) and (max-width: 1020px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.08.11_sparrow-branch-vertical-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2023.08.11_sparrow-branch-vertical-780p.jpg"
                      alt="Slide 7 of 7: A tree branch runs diagonally through the frame from top right to bottom left, with a sparrow perched on the center of the branch facing right. The golden light of sunset is illuminating the bird against a dark green background."
                      id="slide7"
                    />
                  </picture>
                </div>

                <button type="button" class="forward-arrow" data-forward-arrow>
                  <img
                    data-icon-forward
                    class="arrow"
                    src="../assets/imgs/icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                    alt="Forward Arrow"
                  />
                </button>
              </div>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 7."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 7."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 7."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 7."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 7."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 7."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 7."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section gal-landscape" id="birds-gallery" hidden>
          <div class="gallery landscape-gallery">
            <%- include ('landscape-animation-ctrl.ejs') %>
            <div
              class="slider-box landscape-slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Birds Gallery"
              hidden
            >
              <div class="img-display-container">
                <button type="button" class="back-arrow" data-back-arrow>
                  <img
                    data-icon-back
                    class="arrow"
                    src="../assets/imgs/icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                    alt="Back Arrow"
                  />
                </button>

                <div class="photo-box landscape-photo-box">
                  <!-- SPARROW AT SUNRISE -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.04.27_sparrow-horizontal-280p.jpg
                      "
                    />

                    <source
                      media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.04.27_sparrow-horizontal-460p.jpg
                      "
                    />

                    <source
                      media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.04.27_sparrow-horizontal-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.04.27_sparrow-horizontal-900p.jpg"
                      alt="Slide 1 of 7: A sparrow sitting in a tree with early spring buds and leaves, with the golden light of sunrise shining into the left side of the frame."
                      id="slide1"
                    />
                  </picture>

                  <!-- EASTERN KINGBIRD IN A TREE -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-horizontal-280p.jpg
                      "
                    />

                    <source
                      media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-horizontal-460p.jpg
                      "
                    />

                    <source
                      media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-horizontal-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-horizontal-900p.jpg"
                      alt="Slide 2 of 7: An Eastern Kingbird in a tree shown from behind as it looks to the left. The bird is perched on a tree branch against a blue sky with tree branches filling the frame from the sides."
                      id="slide2"
                    />
                  </picture>

                  <!-- CARDINAL -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.06.27_cardinal-horizontal-280p.jpg
                      "
                    />

                    <source
                      media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.06.27_cardinal-horizontal-460p.jpg
                      "
                    />

                    <source
                      media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2023.06.27_cardinal-horizontal-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2023.06.27_cardinal-horizontal-900p.jpg"
                      alt="Slide 3 of 7: A bright red male cardinal on the right of the frame perched on a stick gazing toward the left of the frame, with an out-of-focus green background."
                      id="slide3"
                    />
                  </picture>

                  <!-- KINGBIRD DIVING -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-horizontal-280p.jpg
                      "
                    />

                    <source
                      media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-horizontal-460p.jpg
                      "
                    />

                    <source
                      media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-horizontal-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-horizontal-900p.jpg"
                      alt="Slide 4 of 7: An Eastern Kingbird in midair, diving down toward the water to catch an insect."
                      id="slide4"
                    />
                  </picture>

                  <!-- ROBIN -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-horizontal-280p.jpg
                      "
                    />

                    <source
                      media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-horizontal-460p.jpg
                      "
                    />

                    <source
                      media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-horizontal-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-horizontal-900p.jpg"
                      alt="Slide 5 of 7: A robin sits perched on a dead tree branch with its orange chest puffed forward and head facing upward toward the sky. It's yellow beak is slightly open as it sings into the air."
                      id="slide5"
                    />
                  </picture>

                  <!-- SPARROW IN A CHERRY TREE -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-horizontal-280p.jpg
                      "
                    />

                    <source
                      media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-horizontal-460p.jpg
                      "
                    />

                    <source
                      media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-horizontal-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-horizontal-900p.jpg"
                      alt="Slide 6 of 7: A chipping sparrow sitting on the branch of a cherry tree. The branch the bird is perched on has few leaves, with abundant leaves filling the frame horizontally along the top and bottom of the image."
                      id="slide6"
                    />
                  </picture>

                  <!-- FEMALE HOUSE FINCH ON RADISH PLANT -->
                  <picture class="picture" tabindex="0">
                    <source
                      media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.07.02_house-finch-radish-horizontal-280p.jpg
                      "
                    />

                    <source
                      media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.07.02_house-finch-radish-horizontal-460p.jpg
                      "
                    />

                    <source
                      media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/birds-gal/Guneratne_2024.07.02_house-finch-radish-horizontal-600p.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/birds-gal/Guneratne_2024.07.02_house-finch-radish-horizontal-900p.jpg"
                      alt="Slide 7 of 7: A female house finch sitting in the center of the frame facing slightly to the left is perched on the branch of an overgrown radish plant, where it enjoys eating the radish seeds."
                      id="slide7"
                    />
                  </picture>
                </div>

                <button type="button" class="forward-arrow" data-forward-arrow>
                  <img
                    data-icon-forward
                    class="arrow"
                    src="../assets/imgs/icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                    alt="Forward Arrow"
                  />
                </button>
              </div>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 7."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 7."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 7."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 7."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 7."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 7."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 7."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>
  </body>
</html>
