<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav>
          <ul class="menu-items" id="tabs">
            <div class="menu-btn hov-style" data-name="home">
              <li>
                <a href="../dist/index.html">Home</a>
              </li>
            </div>

            <div
              class="dropdown-div menu-btn gal-hov dropdown-btn"
              data-name="galleries"
              title="Galleries"
            >
              <div class="gal-btn-div">
                <ul>
                  <li>
                    <a href="#galleries">Galleries</a>
                  </li>
                </ul>

                <div class="gal-arrow"></div>
              </div>

              <ul class="dropdown-content">
                <li
                  class="dropdown-item wildlife"
                  style="--delay: 1"
                  data-name="first-gal"
                >
                  <a href="../dist/first-gallery.html">Wildlife</a>
                </li>
                <li
                  class="dropdown-item events"
                  style="--delay: 2"
                  data-name="second-gal"
                >
                  <a href="../dist/second-gallery.html">Events</a>
                </li>
              </ul>
            </div>

            <div class="menu-btn hov-style" data-name="about">
              <li>
                <a href="../dist/about.html">About</a>
              </li>
            </div>

            <div class="menu-btn hov-style" data-name="contact">
              <li>
                <a href="../dist/contact.html">Contact</a>
              </li>
            </div>
          </ul>
        </nav>
      </header>

      <main class="main">
        <!-- FIRST GALLERY -->
        <section class="tab-content" id="first-gallery">
          <div class="gallery">
            <div class="animation-ctrl-div">
              <button
                type="button"
                class="pause-btn"
                title="Press Enter or Space to Pause Gallery Animation"
              >
                <img
                  class="pause-icon"
                  src="../src/assets/imgs/pause-button-icon.svg"
                  alt="Press Enter or Space to Pause Gallery Animation"
                />
              </button>

              <button
                type="button"
                class="play-btn"
                title="Press Enter or Space to Start Gallery Animation"
              >
                <img
                  class="play-icon"
                  src="../src/assets/imgs/play-button-icon.svg"
                  title="Start Gallery Animation"
                  alt="Press Enter or Space to Start Gallery Animation"
                />
              </button>
            </div>

            <section
              class="slider-box"
              data-name="first-gallery"
              tabindex="0"
              role="group"
              aria-roledescription="photo slider"
              aria-label="wildlife gallery"
            >
              <!-- <div class="slider-row-one"></div> -->
              <button type="button" class="back-arrow" data-back-arrow>
                <img
                  data-icon-back
                  class="arrow"
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-left-975UQXVKZF.svg') %>"
                  alt="Back Arrow"
                />
              </button>

              <div class="photo-box" data-name="first-gallery">
                <!-- BUNNY -->
                <picture
                  aria-roledescription="slide"
                  aria-labelledby="slide1"
                  tabindex="0"
                >
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-horizontal-900p.jpg') %>"
                    alt="Slide 1 of 6: Bunny eating long grass."
                    id="slide1"
                  />
                </picture>

                <!-- BEE -->
                <picture
                  aria-roledescription="slide"
                  aria-labelledby="slide2"
                  tabindex="0"
                >
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-horizontal-900p.jpg') %>"
                    alt="Slide 2 of 6: Honeybee on a sage flower."
                    id="slide2"
                  />
                </picture>

                <!-- BIRD -->
                <picture
                  aria-roledescription="slide"
                  aria-labelledby="slide3"
                  tabindex="0"
                >
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-horizontal-900p.jpg') %>"
                    alt="Slide 3 of 6: Bird on a tree branch."
                    id="slide3"
                  />
                </picture>

                <!-- GRASSHOPPER -->
                <picture
                  aria-roledescription="slide"
                  aria-labelledby="slide4"
                  tabindex="0"
                >
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-horizontal-900p.jpg') %>"
                    alt="Slide 4 of 6: Grasshopper on a leaf."
                    id="slide4"
                  />
                </picture>

                <!-- SEAGULL -->
                <picture
                  aria-roledescription="slide"
                  aria-labelledby="slide5"
                  tabindex="0"
                >
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-horizontal-900p.jpg') %>"
                    alt="Slide 5 of 6: Seagull at the ocean."
                    id="slide5"
                  />
                </picture>

                <!-- CATERPILLAR -->
                <picture
                  aria-roledescription="slide"
                  aria-labelledby="slide6"
                  tabindex="0"
                >
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-horizontal-900p.jpg') %>"
                    alt="Slide 6 of 6: Caterpillar on a dill plant."
                    id="slide6"
                  />
                </picture>
              </div>

              <button type="button" class="forward-arrow" data-forward-arrow>
                <img
                  data-icon-forward
                  class="arrow"
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg') %>"
                  alt="Forward Arrow"
                />
              </button>

              <div class="img-dots-container" data-name="first-gallery">
                <div class="img-dots" data-name="first-gallery">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    data-name="first-gallery"
                    aria-label="Select Slide 1 of 6: Bunny eating long grass."
                  >
                    <div
                      class="circle-icon"
                      data-circle="0"
                      data-name="first-gallery"
                    ></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    data-name="first-gallery"
                    aria-label="Select Slide 2 of 6: Honeybee on a sage flower."
                  >
                    <div
                      class="circle-icon"
                      data-circle="1"
                      data-name="first-gallery"
                    ></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    data-name="first-gallery"
                    aria-label="Select Slide 3 of 6: Bird on a tree branch."
                  >
                    <div
                      class="circle-icon"
                      data-circle="2"
                      data-name="first-gallery"
                    ></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    data-name="first-gallery"
                    aria-label="Select Slide 4 of 6: Grasshopper on a leaf."
                  >
                    <div
                      class="circle-icon"
                      data-circle="3"
                      data-name="first-gallery"
                    ></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    data-name="first-gallery"
                    aria-label="Select Slide 5 of 6: Seagull at the ocean."
                  >
                    <div
                      class="circle-icon"
                      data-circle="4"
                      data-name="first-gallery"
                    ></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    data-name="first-gallery"
                    aria-label="Select Slide 6 of 6: Caterpillar on a dill plant."
                  >
                    <div
                      class="circle-icon"
                      data-circle="5"
                      data-name="first-gallery"
                    ></div>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </section>
      </main>

      <footer class="footer-div">
        <div class="footer">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2024</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/photo-gallery"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="<%=require('../src/assets/imgs/github-mark-white.svg') %>"
                alt="Octocat GitHub Logo"
                class="github-logo"
              />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
