<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav>
          <ul class="menu-items" id="tabs">
            <div class="menu-btn hov-style" data-name="home" title="Home">
              <li>
                <a href="../dist/index.html">Home</a>
              </li>
            </div>

            <div
              class="dropdown-div menu-btn gal-hov dropdown-btn"
              data-name="galleries"
              title="Galleries"
            >
              <div class="gal-btn-div">
                <ul>
                  <li>
                    <a href="#galleries">Galleries</a>
                  </li>
                </ul>

                <div class="gal-arrow"></div>
              </div>

              <ul class="dropdown-content">
                <li
                  class="dropdown-item wildlife"
                  style="--delay: 1"
                  title="Wildlife"
                  data-name="first-gal"
                >
                  <a href="../dist/first-gallery.html">Wildlife</a>
                </li>
                <li
                  class="dropdown-item insect"
                  style="--delay: 2"
                  title="Insects"
                  data-name="second-gal"
                >
                  <a href="../dist/second-gallery.html">Insects</a>
                </li>
              </ul>
            </div>

            <div class="menu-btn hov-style" data-name="about" title="About">
              <li>
                <a href="../dist/about.html">About</a>
              </li>
            </div>

            <div class="menu-btn hov-style" data-name="contact" title="Contact">
              <li>
                <a href="../dist/contact.html">Contact</a>
              </li>
            </div>
          </ul>
        </nav>
      </header>

      <main class="main">
        <!-- FIRST GALLERY -->
        <section class="tab-content" id="first-gallery">
          <div class="gallery">
            <div class="slider-box" data-name="first-gallery">
              <!-- <div class="slider-row-one"></div> -->
              <div class="back-arrow">
                <img
                  class="arrow"
                  data-back-arrow
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-left-975UQXVKZF.svg') %>"
                  alt="Back Arrow Icon"
                />
              </div>

              <div class="photo-box" data-name="first-gallery">
                <picture>
                  <!-- BUNNY -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.28_bunny-horizontal-900p.jpg') %>"
                    alt="Bunny eating long grass."
                  />
                </picture>

                <picture>
                  <!-- BEE -->
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.09_bee-horizontal-900p.jpg') %>"
                    alt="Honeybee on a sage flower."
                  />
                </picture>

                <picture>
                  <!-- BIRD -->
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.06.29_bird-horizontal-900p.jpg') %>"
                    alt="Bird on a tree branch"
                  />
                </picture>

                <picture>
                  <!-- GRASSHOPPER -->
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.26_grasshopper-horizontal-900p.jpg') %>"
                    alt="Grasshopper on a leaf."
                  />
                </picture>

                <picture>
                  <!-- SEAGULL -->
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.08.20_seagull-horizontal-900p.jpg') %>"
                    alt="Seagull at the ocean."
                  />
                </picture>

                <picture>
                  <!-- CATERPILLAR -->
                  <source
                    media="(300px <= width <= 699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/first-gal/Guneratne_2023.09.05_caterpillar-horizontal-900p.jpg') %>"
                    alt="Caterpillar on a dill plant."
                  />
                </picture>
              </div>

              <div class="img-dots-container" data-name="first-gallery">
                <div class="img-dots" data-name="first-gallery">
                  <div
                    class="circle-icon-div"
                    data-circle="0"
                    data-name="first-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="0"
                      data-name="first-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="1"
                    data-name="first-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="1"
                      data-name="first-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="2"
                    data-name="first-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="2"
                      data-name="first-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="3"
                    data-name="first-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="3"
                      data-name="first-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="4"
                    data-name="first-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="4"
                      data-name="first-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="5"
                    data-name="first-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="5"
                      data-name="first-gallery"
                    ></div>
                  </div>
                </div>
              </div>

              <div class="forward-arrow">
                <img
                  class="arrow"
                  data-forward-arrow
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg') %>"
                  alt="Forward Arrow Icon"
                />
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer class="footer-div">
        <div class="footer">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2024</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/photo-gallery"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="<%=require('../src/assets/imgs/github-mark-white.svg') %>"
                alt="Octocat GitHub Logo"
                class="github-logo"
              />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
