<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav>
          <ul class="menu-items" id="tabs">
            <div class="menu-btn hov-style" data-name="home" title="Home">
              <li>
                <a href="../dist/index.html">Home</a>
              </li>
            </div>

            <div
              class="dropdown-div menu-btn gal-hov dropdown-btn"
              data-name="galleries"
              title="Galleries"
            >
              <div class="gal-btn-div">
                <ul>
                  <li>
                    <a href="#galleries">Galleries</a>
                  </li>
                </ul>

                <div class="gal-arrow"></div>
              </div>

              <ul class="dropdown-content">
                <li
                  class="dropdown-item wildlife"
                  style="--delay: 1"
                  title="Wildlife"
                  data-name="first-gal"
                >
                  <a href="../dist/first-gallery.html">Wildlife</a>
                </li>
                <li
                  class="dropdown-item events"
                  style="--delay: 2"
                  title="Events"
                  data-name="second-gal"
                >
                  <a href="../dist/second-gallery.html">Events</a>
                </li>
              </ul>
            </div>

            <div class="menu-btn hov-style" data-name="about" title="About">
              <li>
                <a href="../dist/about.html">About</a>
              </li>
            </div>

            <div class="menu-btn hov-style" data-name="contact" title="Contact">
              <li>
                <a href="../dist/contact.html">Contact</a>
              </li>
            </div>
          </ul>
        </nav>
      </header>

      <main class="main">
        <!-- SECOND GALLERY -->
        <section class="tab-content" id="second-gallery">
          <div class="gallery">
            <div class="slider-box" data-name="second-gallery">
              <div class="back-arrow">
                <img
                  class="arrow"
                  data-back-arrow
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-left-975UQXVKZF.svg') %>"
                  alt="Back Arrow Icon"
                />
              </div>

              <div class="photo-box" data-name="second-gallery">
                <picture>
                  <!-- Groomsmen Getting Ready -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_groomsmen-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_groomsmen-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_groomsmen-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_groomsmen-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_groomsmen-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_groomsmen-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_groomsmen-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_groomsmen-horizontal-900p.jpg') %>"
                    alt="Groomsmen getting ready before a wedding."
                  />
                </picture>

                <picture>
                  <!-- Bridal Party in Mirror -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_bridal-party-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_bridal-party-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_bridal-party-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_bridal-party-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_bridal-party-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_bridal-party-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_bridal-party-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_bridal-party-horizontal-900p.jpg') %>"
                    alt="Bridal party getting ready, gathered around the bride, reflected in the mirror. "
                  />
                </picture>

                <picture>
                  <!-- Boy with face paint.  -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_face-paint-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_face-paint-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_face-paint-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_face-paint-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_face-paint-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_face-paint-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_face-paint-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_face-paint-horizontal-900p.jpg') %>"
                    alt="Landscape view: Boy with his face painted like a tiger. Portrait view: Boy with his face painted with the Batman logo. "
                  />
                </picture>

                <picture>
                  <!-- Wedding Hairdo -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_wedding-hair-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_wedding-hair-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_wedding-hair-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_wedding-hair-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_wedding-hair-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_wedding-hair-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_wedding-hair-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_wedding-hair-horizontal-900p.jpg') %>"
                    alt="Landscape view: A teenage girl having her hair done. Vertical view: A teenage girl showing off her hair style."
                  />
                </picture>

                <picture>
                  <!-- Singapore Wedding -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bride-veil-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bride-veil-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bride-veil-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bride-veil-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bridal-lunch-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bridal-lunch-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bridal-lunch-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bridal-lunch-horizontal-900p.jpg') %>"
                    alt="Horizontal view: A few members of a wedding party enjoying lunch outdoors. Portrait view: A bride showing off her wedding veil."
                  />
                </picture>

                <picture>
                  <!-- Boy bowling -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_boy-bowling-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_boy-bowling-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_boy-bowling-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_boy-bowling-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_boy-bowling-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_boy-bowling-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_boy-bowling-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_boy-bowling-horizontal-900p.jpg') %>"
                    alt="A young boy playing with a toy bowling set in a gymnasium."
                  />
                </picture>

                <picture>
                  <!-- Bride putting on shoes. -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_bride-shoe-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_bride-shoe-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_bride-shoe-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_bride-shoe-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_bride-shoe-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_bride-shoe-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_bride-shoe-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2013.11.09_bride-shoe-horizontal-900p.jpg') %>"
                    alt="A bride sitting down to put on her wedding day shoes. Landscape view shows only the lower part of her gown and feet; Portrait view shows her entire body."
                  />
                </picture>

                <picture>
                  <!-- Wedding Toast -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_wedding-toast-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_wedding-toast-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_wedding-toast-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_wedding-toast-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_wedding-toast-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_wedding-toast-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_wedding-toast-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_wedding-toast-horizontal-900p.jpg') %>"
                    alt="Landscape view: A maid of honor makes a toast, speaking into the microphone. Portrait view: A bride and groom sit in the center of the room with the maid of honor and best man on either side raising a glass of champaign."
                  />
                </picture>

                <picture>
                  <!-- Girl Drawing -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_girl-drawing-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_girl-drawing-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bridal-lunch-horizontal-600p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2014.09.13_bridal-lunch-horizontal-900p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_girl-drawing-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_girl-drawing-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_girl-drawing-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2012.03.23_girl-drawing-horizontal-900p.jpg') %>"
                    alt="A girl kneeling down by a table to work on her drawing."
                  />
                </picture>

                <picture>
                  <!-- Cake Cutting / Copule sitting for dinner -->
                  <source
                    media="(300px <= width <=699px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_couple-cake-vertical-320p.jpg') %>"
                  />

                  <source
                    media="(700px <= width <= 799px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_couple-cake-vertical-460p.jpg') %>"
                  />

                  <source
                    media="(800px <= width <= 1020px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_couple-cake-vertical-580p.jpg') %>"
                  />

                  <source
                    media="(1021px <= width <= 1280px) and (orientation: portrait)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_couple-cake-vertical-700p.jpg') %>"
                  />

                  <source
                    media="(640px <= width <= 959px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_couple-dinner-horizontal-280p.jpg') %>"
                  />

                  <source
                    media="(960px <= width <= 1279px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_couple-dinner-horizontal-460p.jpg') %>"
                  />

                  <source
                    media="(1280px <= width <= 1599px) and (orientation: landscape)"
                    srcset="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_couple-dinner-horizontal-600p.jpg') %>"
                  />

                  <img
                    src="<%=require('../src/assets/imgs/second-gal/Guneratne_2023.07.09_couple-dinner-horizontal-900p.jpg') %>"
                    alt="Landscape view: A couple enjoying dinner at a wedding. Portrait view: A bride and groom cut the cake on their wedding day."
                  />
                </picture>
              </div>

              <div class="img-dots-container" data-name="second-gallery">
                <div class="img-dots" data-name="second-gallery">
                  <div
                    class="circle-icon-div"
                    data-circle="0"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="0"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="1"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="1"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="2"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="2"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="3"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="3"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="4"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="4"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="5"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="5"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="6"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="6"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="7"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="7"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="8"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="8"
                      data-name="second-gallery"
                    ></div>
                  </div>

                  <div
                    class="circle-icon-div"
                    data-circle="9"
                    data-name="second-gallery"
                  >
                    <div
                      class="circle-icon"
                      data-circle="9"
                      data-name="second-gallery"
                    ></div>
                  </div>
                </div>
              </div>

              <div class="forward-arrow">
                <img
                  class="arrow"
                  data-forward-arrow
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg') %>"
                  alt="Forward Arrow Icon"
                />
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer class="footer-div">
        <div class="footer">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2024</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/photo-gallery"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="<%=require('../src/assets/imgs/github-mark-white.svg') %>"
                alt="Octocat GitHub Logo"
                class="github-logo"
              />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
