<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <div class="photo-banner"></div>

      <div class="main">
        <div class="left-nav"></div>
        <div class="content-box">
          <!-- FIRST GALLERY -->

          <div class="gallery insect-gallery">
            <div class="slider-box">
              <div class="back-arrow">
                <img
                  class="arrow"
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-left-975UQXVKZF.svg') %>"
                  alt="Back Arrow Icon"
                />
              </div>

              <div class="photo-box">
                <picture data-num="0">
                  <source
                    media="(max-width: 600px)"
                    srcset="<%=require('../src/assets/imgs/Guneratne_2023.06.09_bee-vertical.jpg') %>"
                    alt="Honeybee on a sage flower, vertical orientation."
                  />
                  <img
                    src="<%=require('../src/assets/imgs/Guneratne_2023.06.09_bee-horizontal.jpg') %>"
                    alt="Honeybee on a sage flower, horizontal orientation."
                  />
                </picture>

                <picture data-num="1">
                  <source
                    media="(max-width: 600px)"
                    srcset="<%=require('../src/assets/imgs/Guneratne_2023.08.26_cricket-vertical.jpg') %>"
                    alt="Cricket on a leaf, vertical orientation."
                  />
                  <img
                    src="<%=require('../src/assets/imgs/Guneratne_2023.08.26_cricket-horizontal.jpg') %>"
                    alt="Cricket on a leaf, horizontal orientation."
                  />
                </picture>

                <picture data-num="2">
                  <source
                    media="(max-width: 600px)"
                    srcset="<%=require('../src/assets/imgs/Guneratne_2023.09.05_caterpillar-vertical.jpg') %>"
                    alt="Caterpillar on a fennel plant, vertical orientation."
                  />
                  <img
                    src="<%=require('../src/assets/imgs/Guneratne_2023.09.05_caterpillar-horizontal.jpg') %>"
                    alt="Caterpillar on a dill plant, horizontal orientation."
                  />
                </picture>
              </div>

              <div class="img-dots">
                <button type="button" class="img-btn">
                  <img
                    class="circle-icon"
                    data-for-num="0"
                    src="<%=require('../src/assets/imgs/211717_circle_icon.svg') %>"
                    alt="Circle Icon for Image Slider Navigation"
                  />
                </button>
                <button type="button" class="img-btn">
                  <img
                    class="circle-icon"
                    data-for-num="1"
                    src="<%=require('../src/assets/imgs/211717_circle_icon.svg') %>"
                    alt="Circle Icon for Image Slider Navigation"
                  />
                </button>
                <button type="button" class="img-btn">
                  <img
                    class="circle-icon"
                    data-for-num="2"
                    src="<%=require('../src/assets/imgs/211717_circle_icon.svg') %>"
                    alt="Circle Icon for Image Slider Navigation"
                  />
                </button>
              </div>

              <div class="forward-arrow">
                <img
                  class="arrow"
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg') %>"
                  alt="Forward Arrow Icon"
                />
              </div>
            </div>
          </div>

          <!-- SECOND GALLERY -->
          <!-- <div class="gallery wild-animal-gallery">
            <div class="slider-box">
              <div class="back-arrow">
                <img
                  class="arrow"
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-left-975UQXVKZF.svg') %>"
                  alt="Back Arrow Icon"
                />
              </div>

              <div class="photo-box">
                <picture >
                  <source
                    media="(max-width: 600px)"
                    srcset="<%=require('../src/assets/imgs/Guneratne_2023.06.28_bunny-vertical.jpg') %>"
                    alt="Bunny eating long grass, vertical orientation."
                  />
                  <img
                    src="<%=require('../src/assets/imgs/Guneratne_2023.06.28_bunny-horizontal.jpg') %>"
                    alt="Bunny eating long grass, horizontal orientation."
                  />
                </picture>

                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="<%=require('../src/assets/imgs/Guneratne_2023.06.29_bird-vertical.jpg') %>"
                    alt="Bird on a tree branch, vertical orientation."
                  />
                  <img
                    src="<%=require('../src/assets/imgs/Guneratne_2023.06.29_bird-horizontal.jpg') %>"
                    alt="Bird on a tree branch, horizontal orientation."
                  />
                </picture>

                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="<%=require('../src/assets/imgs/Guneratne_2023.08.20_seagull-vertical.jpg') %>"
                    alt="Seagull on the beach by the ocean, vertical orientation."
                  />
                  <img
                    src="<%=require('../src/assets/imgs/Guneratne_2023.08.20_seagull-horizontal.jpg') %>"
                    alt="Seagull taking flight above the ocean waves, horizontal orientation."
                  />
                </picture>
              </div>

              <div class="img-dots">
                <button type="button" class="img-btn" data-num="0">
                  <img
                    class="circle-icon "
                    src="<%=require('../src/assets/imgs/211717_circle_icon.svg') %>"
                    alt="Circle Icon for Image Slider Navigation"
                  />
                </button>
                <button type="button" class="img-btn" data-num="1">
                  <img
                    class="circle-icon"
                    src="<%=require('../src/assets/imgs/211717_circle_icon.svg') %>"
                    alt="Circle Icon for Image Slider Navigation"
                  />
                </button>
                <button type="button" class="img-btn" data-num="2">
                  <img
                    class="circle-icon"
                    src="<%=require('../src/assets/imgs/211717_circle_icon.svg') %>"
                    alt="Circle Icon for Image Slider Navigation"
                  />
                </button>
              </div>

              <div class="forward-arrow">
                <img
                  class="arrow"
                  src="<%=require('../src/assets/imgs/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg') %>"
                  alt="Forward Arrow Icon"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="footer">
        <p class="my-copyright">Jenn Guneratne © 2023</p>
        <a
          href="https://github.com/jguneratne/photo-gallery"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="github-logo"
            src="<%=require('../src/assets/imgs/GitHub-Mark-32px.png') %>"
            alt="Octocat GitHub Logo"
          />
        </a>
      </div>
    </div>
  </body>
</html>
